$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #1ba39c,
  secondary:  #174f54,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222
);

//Top toolbar
$toolbar-md-background: color($colors, secondary);

//Bottom tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color: color($colors, primary);
$tabs-md-tab-color-inactive: color($colors, primary);
$tabs-md-tab-text-color: color($colors, primary);
$tabs-md-tab-color-active: color($colors, light);

$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
